<!DOCTYPE html>
<html>
  <head>
    <title>UnsafeSjr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    fobar
    <!-- <p>Logged in as: <%#= @user.username %></p> -->
    <%= yield %>
  </body>
</html>
